.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  background-color: #f3f3f3;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.output {
  grid-column: 1 / -1;
  grid-row: 1;
  font-size: 2rem;
  text-align: right;
  padding: 5px;
  background-color: #eee;
  border: 1px solid #bbb;
  border-radius: 5px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.button {
  font-size: 1.5rem;
  padding: 30px;
  background-color: #d6d6d6;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.button:hover {
  background-color: #ccc;
}
.button-colwide {
  grid-row: span 2;
}


.button-wide {
  grid-column: 1 / span 2;
}

.button-symbol {
  background-color: #ff9500;
  color: #fff;
}

.button-symbol:hover {
  background-color: #f56a00;
}

.button-wide.button-symbol {
  grid-column: 3 / span 2;
}

.button-wide:last-child {
  grid-column: 3 / span 2;
}
